/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* common style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* width: 1170px;
    margin: 0 auto; */
}

img {
    width: 100%;
    height: 100%;
}

.btn {
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

/* button */

.btn-follow {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    margin: 0 auto;
    padding-left: 24px;
    /* padding-right: 16px; */
}

/* header */

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 69px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.left {
    display: flex;
    align-items: center;
}

.left .logo {
    width: 86.041px;
    height: 40px;
    margin-right: 20px;
}

.left .logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    /* color code change */
    color: #0B0223;
}

.diff-title {
    color: #ff42a5;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 600;
    margin-right: 32px;
}

.custom-1 {
    padding-left: 24px;
    padding-right: 16px;
    color: #F61C0D;
}

/* banner section */
.banner {
    /* margin-left: 150px;
    margin-right: 150px; */
    margin-bottom: -7.5px;
}

.banner-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.banner-content {
    background-image: url("./images/Group\ 14.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.banner-text-content {
    padding: 100px 280px 100px 100px;
}

.banner-img {
    width: 40%;
    height: auto;
}

.banner-head {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    /* padding-left: -60px; */

}

.banner-title {
    /* margin-top: 0px;
    margin-bottom: 24px; */
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {}

.banner-item {
    display: flex;
    margin-bottom: 17px;
    gap: 10px;
    align-items: center;
}

.banner-item i {
    color: #F948B2;
}

.banner-item p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.button {
    margin-top: 42px;
}

.btn-pink {
    background: #FF42A5;
}

.btn-blue {
    background: #4EC5F7;
    /* margin-left: 24px; */
}

/* gamer section */

.gamer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 0px 69px;
}

.gamer-img {}

.gamer-content {
    width: 500px;
    text-align: right;
    padding-right: 60px;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.purpose-description {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 5px;
}

.purpose-title {
    color: #534C64;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
}

/* online games section */

.online-games {
    text-align: center;
    /* padding: 120px 69px 0px; */
    margin: 120px 69px 0px;
}

.section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    color: #534C64;
    font-size: 18px;
    margin-bottom: 48px;
}

.games-item {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.game-description {
    text-align: left;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    width: 310px;
    margin-top: 24px;
}

.online-game {
    width: 315px;
    height: 400px;
}




/* responsive */


/* small device */

@media screen and (max-width: 576px) {
    nav {
        padding: 90px 10px;
        box-shadow: none;
    }

    nav,
    nav ul,
    .banner-display,
    .gamer,
    .games-item {
        flex-direction: column;
    }

    .banner-text-content {
        padding: 30px 60px 40px;
    }

    .banner-head {
        font-size: 24px;
    }

    .banner-title {
        font-size: 50px;
        margin-bottom: 5px;
    }

    .banner-item {
        margin-bottom: 8px;
    }

    .banner-item p {
        font-size: 12px;
    }

    .button {
        margin-top: 5px;
    }

    .btn {
        padding: 15px 15px;
        border-radius: 48px;
        color: #FFF;
        font-size: 12px;
    }

    .banner-img {
        width: 60%;
    }

    #banner-order-1 {
        order: 2;
    }

    #banner-order-2 {
        order: 1;
    }

    nav ul li {
        margin-top: 36px;
    }

    .gamer {
        background: unset;
    }

    .gamer-content {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .purpose-title {
        font-size: 18px;
    }

    .gamer-img {
        width: 100%;
    }

    .game-description{
        margin-bottom: 30px;
    }


}


/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        padding: 90px 10px;
        box-shadow: none;
    }

    nav,
    nav ul,
    .banner-display,
    .gamer {
        flex-direction: column;
    }

    .games-item {
        display: flex;
        flex-wrap: wrap;
    }

    .banner-text-content {
        padding: 105px 205px 100px 135px
    }

    nav ul li {
        margin-top: 36px;
    }

    .banner-img {
        width: 60%;
    }

    .banner-head {
        font-size: 32px;
    }

    .banner-title {
        font-size: 60px;
        margin-bottom: 5px;
    }

    .banner-item {
        margin-bottom: 8px;
    }

    .banner-item p {
        font-size: 16px;
    }

    .button {
        margin-top: 35px;
    }

    .btn {
        padding: 15px 30px;
        border-radius: 48px;
        color: #FFF;
        font-size: 16px;
    }

    #banner-order-1 {
        order: 2;
    }

    #banner-order-2 {
        order: 1;
    }

    .gamer {
        background: unset;
    }

    .gamer-content {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .purpose-title {
        font-size: 24px;
    }

    .gamer-img {
        width: 100%;
    }

    .game-description{
        margin-bottom: 30px;
    }
}